@page "/Portfolio"

<h1>Portfolio</h1>
<p>This is our portfolio! Feel free to check out our projects!</p>

<h3>Basal Metabolic Rate Calculator</h3>
<p>BMR calculator to calculate the number of calories your body needs to maintain basic physiological functions at rest.</p>

<!-- Link to the BMR Calculator page -->
<NavLink href="/Basal_metabolic_rate" class="nav-link">Go to BMR Calculator</NavLink>

@code {
}

